/* Dalam file public/css/styles.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: navy;
    color: white;
    padding: 10px 20px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding-top: 65px; /* Sesuaikan dengan tinggi header Anda */
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
}

.buttons button {
    width: 50px;
    height: 50px;
    margin: 5px;
    font-size: 20px;
}

#display {
    width: 210px;
    margin-bottom: 10px;
    text-align: right;
    font-size: 20px;
}
